/* IMPORTING FONT POPPIN FROM GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Identify Color */
:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem ;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* color: whitesmoke; */
  position: relative;
  height: 100%;
  color: var(--color-white);
  background: var(--color-light);
  overflow-x: hidden;
}

/* NAVBAR SECTION */

nav{
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

nav .log{
  color: var(--color-primary);
}

nav .search-bar{
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  color: var(--color-black);
  /* width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px; */
}

nav .search-bar input[type="search"]{
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
  color: var(--color-gray);
}

nav .profile-photo{
  color: var(--color-black);
}


/* CONTENT SECTION */
.app-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000000;
  height: 100vh;
  padding: 0 5rem;
  align-items: center;
}

.recs{
margin: auto;
}

.content{
  height:100vh;
  margin: 0 auto;
}

video{
  height: 100%;
}