/* IMPORTING FONT POPPIN FROM GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  color: whitesmoke;
  background: hsl(252, 30%, 95%);
  overflow-x: hidden;
}

/* NAVBAR SECTION */

nav{
  width: 100%;
  background: hsl(252, 30%, 100%);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

nav .log{
  color: hsl(252, 75%, 60%);
}

nav .search-bar{
  background: hsl(252, 30%, 95%);
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  color: hsl(252, 30%, 10%);
  /* width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px; */
}

nav .search-bar input[type="search"]{
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: hsl(252, 30%, 17%);
}

nav .search-bar input[type="search"]::placeholder{
  color: hsl(252, 15%, 65%);
}

nav .profile-photo{
  color: hsl(252, 30%, 10%);
}


/* CONTENT SECTION */
.app-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000000;
  height: 100vh;
  padding: 0 5rem;
  align-items: center;
}

.recs{
margin: auto;
}

.content{
  height:100vh;
  margin: 0 auto;
}

video{
  height: 100%;
}