/* IMPORTING FONT POPPINS FROM GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-small-down: 12px;
  --fs-small: 16px;
  --fs-small-up: 20px;
  --fs-medium: 24px;
  --fs-large-down: 28px;
  --fs-large: 32px;
  --fs-large-up: 36px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

body {
  width: 100%;
  height: 100%;
  font-size: smaller;
  background-color: black;
}


/* Utilities */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-end {
  justify-content: flex-end;
}
.justify-spa {
  justify-content: space-around;
}
.justify-spb {
  justify-content: space-between;
}
.justify-cen{
  justify-content: center;
}
.align-cen {
  align-items: center;
}
.hidden {
  display: none;
}
.btn {
  text-decoration: none;
  border: none;
  border-radius: 10em;
  background-color: whitesmoke;
  transition: 0.3s ease;
  font-weight: var(--fw-medium);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.container {
  width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.9em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header Style */
.primary-header {
  position:fixed;
  width: 100vw;
  height: 10%;
  background-color: hsla(252, 30%, 100%,100%);
  z-index: 100;
}


.navbar {
  grid-template-columns: auto 40% 30%;
  height: 100%;
}

.logo {
  color:black;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
}

.search-bar {
  width: 20vw;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  background: hsl(252, 30%, 95%);
  margin: auto;
}
.search {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  appearance: none;
  margin-left: 5px;
  color: black;
}
.search:focus {
  outline: none;
}

.submit-search {
  padding: 0;
  border: none;
  background-color: inherit;
}
.submit-search i{
  color: rgb(60, 60, 60);
}
.sign-button {
  width: 100%;
}
.signup {
  width: fit-content;
  padding: 0.3rem 1rem;
  color: black;
  margin: 0.2rem;
  border: 0.1em solid hsl(252, 15%, 65%);
  text-align: center;
  max-height: 100%;
}
.signin {
  width: fit-content;
  padding: 0.3rem 1rem;
  color: black;
  margin: 0.2rem;
  border: 0.1em solid hsl(252, 15%, 65%);
  text-align: center;
  max-height: 100%;
}

/* Main Style */
.main{
  margin-left: 3rem;
}

.recommended {
  background-color: rgb(0, 0, 0);
  z-index: 10;
  position: fixed;
  grid-template-rows: auto auto;
  height: 100vh;
  padding-right: 1em;
}

.recommended-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-accounts {
  justify-content: flex-start;
}

.recommended-text {
  font-size: var(--fs-small);
  font-weight: var(--fw-semi-bold);
  margin: 1rem 0;
}

.recommended-text span{
  color: rgba(253, 249, 249, 0.678);
}

.recommended-user {
  gap: 0.5rem;
}

.user-star {
  font-size: medium;
  height: 10rem;
  /* display: grid;
  grid-template-columns: auto 70% auto; */
}

.user-main-star{
  display: flex;
}

.user-profile-pic-star {
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

.user-detail-star {
  align-self: center;
  padding-right: 3em;
}

.user-name-star,
.user-tag-star {

  word-wrap: break-word;
}
.user-name-star{
  font-weight: 800;
  font-size: x-large;
}
.user-follow-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
}

.user-followings-star{
display: flex;

}

.user-numbers{
  padding: 0 0.4rem;
  font-weight: bold;
  color:rgb(29, 29, 208);
}
.user-description-star{
  padding: 0.5rem 0;
}




.user {
  height: 3rem;
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  cursor: pointer;
  gap: 0.5rem;
}

.user-profile-pic {
  height: 3rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 1em;
}

.user-profile-pic:hover {
  cursor: pointer;
}


/* Profile On Hover Style */
.profile-menu {
  position: fixed;
  right: 2%;
  width: 12em;
  height: 50%;
  z-index: 90;
  grid-template-columns: auto;
  background-color: rgb(103, 103, 103);
}
.pop-up{
  text-decoration: none;
  cursor: pointer;
}
.pop-up:hover{
  background-color: rgb(49, 49, 49) ;
}


.user-detail {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
}

.user-name,
.user-tag {
  height: 1rem;
  word-wrap: break-word;
}

.user-follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-follow button{
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  color: rgb(0, 162, 255);
  font-weight: 700;
}
.user-follow button:hover{
  cursor: pointer;
}

.follow{
  font-weight: 700;
  color: rgb(0, 162, 255);
}
.followed{
  font-weight: 700;
  color: rgb(122, 122, 122);
}
.unfollow{
  font-weight: 700;
  color: rgb(255, 0, 0);
}


/* Content Section */
.user-page {
  margin-top: 7%;
  margin-left:20em;
  cursor:pointer;
}
.content {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  justify-items: center;
}
.content-video {
  width: 100%;
  filter: grayscale(1);
  transition: 0.3s ease;
  
}
.content-video:hover {
  transition: 0.3s ease;
  filter: grayscale(0);
}
.thumbnails{
  padding: 1em;
}

/* Back to top button */
#button-top {
  display: none;
  position: fixed; 
  bottom: 1em;
  right: 1em; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: rgb(0, 162, 255);
  color: white;
  cursor: pointer;
  border-radius: 100em;
  height: 4em;
  width: 4em;
  transition: 0.3s ease;
}

#button-top:hover {
  transition: 0.3s ease;
  background-color: rgb(29, 29, 208); ;
}
@media screen and (max-width: 800px) {
.signin,.signup{
  font-size: smaller;
}

}

@media screen and (max-width: 700px) {
  .signin,.signup{
   font-size: xx-small;
  }
  
  }