  
  #background-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
  }

  .blur-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(10px);
	z-index: 10000;
	animation-name: in;
	animation-duration: 0.5s;
  }

.grid {
	display: grid;
  }
  .flex {
	display: flex;
  }
  .flex-row {
	display: flex;
	flex-direction: row;
  }
  .justify-end {
	justify-content: flex-end;
  }
  .align-cen {
	align-items: center;
  }
  .btn {
	text-decoration: none;
	border: none;
	border-radius: 10em;
	background-color: whitesmoke;
	transition: 0.3s ease;
	font-weight: var(--fw-medium);
  }
  .btn:hover {
	cursor: pointer;
	filter: brightness(80%);
  }
  .container {
	width: 100%;
	padding: 0 5rem;
	margin: 0 auto;
  }
  body {
	width: 100%;
	height: 100%;
	font-size: smaller;
  }
  

  /* Drop Zone */
  .drop-zone {
	position: fixed;
	width: 25%;
	height: 40%;
	padding: 1.5rem 2.0rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: whitesmoke;
	border: 4px dashed #009578;
	border-radius: 10px;
	 background-color: black;
}

  .drop-zone--over {
	border-style: solid;
  }
  
  .drop-zone__input {
	display: none;
  }
  
  .drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
  }
  
  .drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
  }
  