<article >
    <div class="changepassword">
        <form>
            <span>Old Password</span><input type="password" name="Oldpassword" class="opass">
            <span>New Password</span><input type="password" name="newpassword" class="npass">
            <span>Confirm New Password</span><input type="password" name="cnewpassword"
                class="cnpass">
            <div class="btnupdt">
            <button type="submit" name="Update" class="updtbtn">Update</button>
            </div>
        </form>
</article>