<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon"> 
    <title>DeepSpace - Setting</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/setting.css">
    <script src="https://kit.fontawesome.com/9b64058bd2.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="leftside">
            <ul class="point">
              <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
                <li>
                    <a href="/setting/editprofile" class="edt-prof">Edit Profile</a>
                </li>
                <li>
                    <a href="/setting/changepass" class="chg-pass" style="font-weight:bold;">Change Password</a>
                </li>
                <li>
                    <a href="/setting/manageaccount" class="mng-acc" >Manage Account</a>
                </li>
                <li>
                    <a href="/setting/privacy" class="privacy" >Privacy </a>
                </li>
                <li>
                    <a href="/setting/help" class="help" >Help</a>
                </li>
            </ul>
        </div>
        <div class="rightbox">
            <article>
                <div class="changepassword">
                    <form>
                        <span>Old Password</span><input type="password" name="Oldpassword" class="opass">
                        <span>New Password</span><input type="password" name="newpassword" class="npass">
                        <span>Confirm New Password</span><input type="password" name="cnewpassword"
                            class="cnpass">
                        <div class="btnupdt">
                        <button type="submit" name="Update" class="updtbtn">Update</button>
                        </div>
                    </form>
            </article>
        </div>
    </div>
</body>

</html>