<article>
    <div class="pht-and-usr">
        <div class="chng-pp">
            <img class="chng-photo" id="pp" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4Mj62cjXkXmauiMnayyCutlWEXBVEiYeaZQ&usqp=CAU"> 
        </div>
        <div class="username-and-pp">
            <h1 class="name-user" title="">user1</h1>
            <input type="file" id="file-input" class="chngpict"><span id="file-input-btn">Change Picture</span>
        </div>
    </div>
    <div class="eprofile">
        <form>
            <span>Name</span><input type="text" name="Name" class="namee" placeholder="Name">
            <span>Username</span><input type="text" name="UName" class="user-namee" placeholder="Username">
            <span>E-mail</span><input type="email" name="Email" class="emaill" placeholder="E-mail">
            <span>Phone Number</span><input type="tel" name="Pnumber" class="pnumberr" placeholder="Phone Number">
            <span>Gender</span>
                <div class="malee">
                    <input type="radio" name="gender"><label>Laki-Laki</label>
                    <input type="radio" name="gender"><label>Perempuan</label>
                </div>
             <div class="btnsumit">   
            <button type="submit" name="Submit" class="sumit">Submit</button>
            </div>
        </form>
    </div>
</article>