<article>
    <div class="settings">
        <div class="help-title">Help</div>
            <div class="privacy-item">
                <div class="help-form">
                    <form>
                        <div class="subtitle">Report Problem</div>
                        <div class="desc-txt">Please provide as much detail as possible so we can better verify the problem
                            <br>When(time date) did the problem occur?
                            <br>What is the exact error message that you received?
                        </div>
                        <textarea class="description-text-box" name="reportproblem" cols="40" rows="3" maxlength="120" placeholder="Describe your problem here..." required></textarea>
                        <span>Name</span><input type="text" name="namereport" class="" required>
                        <span>Email</span><input type="email" name="emmailreport" class="" required>
                        <div class="btnupdt">
                        <button type="submit" name="Update" class="updtbtn">Submit</button>
                        </div>
                    </form>
            </div>
        </div>                
    </div>
</article>