<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon"> 
    <title>DeepSpace - Setting</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/setting.css">
    <script src="https://kit.fontawesome.com/9b64058bd2.js" crossorigin="anonymous"></script>
    <script src="/js/setting.js" defer></script>
</head>

<body>
  
    <div class="container">
      <div class="leftside"> 
        <ul class="point">
          <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
            <li>
                <span id="EP" class="bold">Edit Profile</span>
            </li>
            <li>
                <span id="cp">Change Password</span>
            </li>
            <li>
                <span id="ma">Manage Account</span>
            </li>
            <li>
                <span id="privacy">Privacy </span>
            </li>
            <li>
                <span id="help">Help</span>
            </li>
        </ul>
      </div>

        <div class="rightbox" id="rb">
        </div>
    </div>
</body>

</html>