<article>
    <div class="privacysettings">
        <div class="manage-account">Manage Account</div>
        <div class="manage-item">
        <div class="acc-cntrl">Account Control</div>
        <div class="acc-cntrl-option">Delete Account</div>
            <div class="delete-btn">Delete</div>
        </div>
    </div>
</article>