:root {
  --primary: rgb(0 0 0);
  --secondary: rgb(127 127 127);
  --white: rgb(255 255 255);
  --light-gray: rgb(223 223 223);
  --gray: rgb(191 191 191);
  --dark-gray: rgb(63 63 63);

  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1em;
  background: var(--light-gray);
}
::-webkit-scrollbar-thumb {
  background: var(--gray);
}

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

.header-trigger {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 9999;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: -60px;
  background-color: white;
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: space-around;
  z-index: 10000;
  transition: 0.3s ease;
}

.header-trigger:hover + .header {
  top: 0;
}

.header:hover {
  top: 0;
}

.header-wrapper {
  width: 100%;
  max-width: 1150px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deepspace-logo {
  font-size: 2em;
  font-weight: var(--fw-bold);
  color: var(--primary);
  text-decoration: none;
}

.search-container {
  height: 40px;
  border-radius: 2em;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  background-color: var(--light-gray);
}

.search-container button,
.search-container input {
  border: none;
  background-color: inherit;
}

.search-container input::placeholder,
.search-container button {
  color: var(--secondary);
}

.search-container input:focus {
  outline: none;
}

.vert-line {
  border-left: 1px solid var(--secondary);
  height: 80%;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upload-container,
.login-container {
  font-size: 1.2em;
  border-radius: 0.5em;
  padding: 5px 1em;
  border: none;
  background-color: white;
}

.upload-container {
  outline-style: inset;
  outline: 1px solid black;
}

.login-container {
  color: var(--white);
  background-color: var(--primary);
  outline-style: inset;
  outline: 1px solid white;
}

.login-container,
.right-container i {
  margin-left: 1em;
}

.main {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 9998;
}

.main-wrapper {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
}

.side-container {
  min-height: 100%;
  width: 350px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.side-item-container {
  width: 100%;
}

.users-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.item-title {
  font-size: 1.5em;
  font-weight: var(--fw-bold);
}

.users {
  display: flex;
}

.users-pic {
  width: 3em;
  border-radius: 50%;
}

.users-name {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tag {
  font-weight: var(--fw-semi-bold);
}
.name {
  font-weight: var(--fw-light);
  color: var(--secondary)
}

.btn-follow {
  border: none;
  background: none;
  font-weight: var(--fw-semi-bold);
  font-size: 1.2em;
  color: rgb(36 160 237);
}

.main-container {
  height: 100vh;
  width: 950px;
  max-width: 950px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.main-container::-webkit-scrollbar {
  width: 0;
}

.main-item-container {
  display: flex;
  scroll-snap-align: start;
}

.post-video video {
  max-height: 100vh;
}

.post-details {
  max-width: 100%;
  margin-top: 60px;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.post-users {
  display: flex;
}

.post-users > .users-name {
  margin: 0;
}

.post-caption {
  margin-top: 1em;
}

.post-caption p {
  word-wrap: break-word;
}

.post-comments {
  padding: 1em;
  max-width: 100%;
  max-height: 70vh;
  margin-top: 60px;
  transition: 0.5s ease;
}

.comment-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
}

.interactive-buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post-comments > .interactive-buttons {
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.int-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.int-item i:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.int-item i{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: var(--gray);
}

.int-item span {
  font-weight: var(--fw-medium);
  font-size: 1.2em;
}


@media only screen and (max-width: 320px) {
  .header {
    top: 0;
  }
  .header-trigger,
  .search-container,
  .right-container,
  .side-container,
  .post-details,
  .post-comments {
    display: none;
  }

  .post-details {
    margin-top: 0;
  }
  .main {
    margin-top: 60px;
  }
  .main-container {
    height: calc(100vh - 60px);
  }
  .post-video video {
    max-height: calc(100vh - 60px);
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    top: 0;
  }
  .header-trigger,
  .search-container,
  .right-container,
  .side-container,
  .post-details,
  .post-comments {
    display: none;
  }

  .post-details {
    margin-top: 0;
  }
  .main {
    margin-top: 60px;
  }
  .main-container {
    height: calc(100vh - 60px);
  }
  .post-video video {
    max-height: calc(100vh - 60px);
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    top: 0;
  }
  .header-trigger,
  .search-container,
  .side-container {
    display: none;
  }
  
  .post-details {
    margin-top: 0;
  }
  .main {
    margin-top: 60px;
  }
  .main-container {
    height: calc(100vh - 60px);
  }
  .post-video video {
    max-height: calc(100vh - 60px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    top: 0;
  }
  .header-trigger,
  .side-container {
    display: none;
  }
  
  .post-details {
    margin-top: 0;
  }
  .main {
    margin-top: 60px;
  }
  .main-container {
    height: calc(100vh - 60px);
  }
  .post-video video {
    max-height: calc(100vh - 60px);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

}
@media only screen and (min-width: 1200px) {

}