/* IMPORTING FONT POPPINS FROM GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-small-down: 12px;
  --fs-small: 16px;
  --fs-small-up: 20px;
  --fs-medium: 24px;
  --fs-large-down: 28px;
  --fs-large: 32px;
  --fs-large-up: 36px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
  height: 100%;
  font-size: smaller;
  
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

button:hover {
  cursor: pointer;
}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.9em;
}


/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Utilities */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-end {
  justify-content: flex-end;
}
.justify-spa {
  justify-content: space-around;
}
.justify-spb {
  justify-content: space-between;
}
.justify-cen{
  justify-content: center;
}
.justify-ite{
  justify-items: center;
}
.align-cen {
  align-items: center;
}
.align-sel{
  align-self: center;
}
.align-con{
  align-content: center;
}

.hidden {
  display: none;
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: 10em;
  background-color: whitesmoke;
  transition: 0.3s ease;
  font-weight: var(--fw-medium);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.container {
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

/* Header Style */
.primary-header {
  position:fixed;
  width: 100vw;
  height: 10%;
  background-color: hsla(252, 30%, 100%,100%);
  z-index: 100;
}


.navbar {
  grid-template-columns: auto 40% 30%;
  height: 100%;
}

.logo {
  color:black;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
}

.search-bar {
  width: 20vw;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  background: hsl(252, 30%, 95%);
  margin: auto;
}
.search {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  appearance: none;
  margin-left: 5px;
  color: black;
}
.search:focus {
  outline: none;
}

.submit-search {
  padding: 0;
  border: none;
  background-color: inherit;
}
.submit-search i{
  color: rgb(60, 60, 60);
}
.sign-button {
  width: 100%;
}
.signup {
  width: fit-content;
  padding: 0.3rem 1rem;
  color: black;
  margin: 0.2rem;
  border: 0.1em solid hsl(252, 15%, 65%);
  text-align: center;
  max-height: 100%;
}
.signin {
  width: fit-content;
  padding: 0.3rem 1rem;
  color: black;
  margin: 0.2rem;
  border: 0.1em solid hsl(252, 15%, 65%);
  text-align: center;
  max-height: 100%;
}



.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.app{
  padding-top: 6%;
}
.left{
  flex:2;
  height: 85vh;
  overflow: auto;
}
.right{
  flex:10;
  height: 85vh;
  overflow: auto;
  margin-left: 1em;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.3em;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0d7";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0d8";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.panel {
  padding: 0 1em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.panel p,li{
  color:rgb(78, 78, 78);
}

.left ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  gap:2em;
}

.left li{
  padding: 0.5em 0;
}


a{
  text-decoration: none;
}