/* IMPORTING FONT POPPINS FROM GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding:0;

}

input,button{
    font-size: 1em;
}

body{
    font-family: 'Poppins', sans-serif;
    background: black;
    background-color: black;
    color: white;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.9em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 
.title{
    font-size: 5em;
    margin-bottom: 0.25em;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-box{
    /* width:50%;
    height: 50%;
    padding: 0.2em;*/
    margin: 0 auto;
    background: hsl(0, 0%, 0%);
    position: relative;
}

.input-group{
    margin-bottom: 1em;
}

.input-group input{
    padding: 0.9em 1.5em;
}

.signin-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
    max-width: 25em;
}

.account{
    width: 100%;
    padding: 0 auto;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 10em;
}

#password{
    width: 100%;
    padding: 0 auto;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 10em;
}

.login button{
    border-radius: 2em;
    padding: 0.7em 1.4em;
}

.login{
    margin-bottom: 1.3em;
    margin-top: 0.7em;
}
.custom-control-label {
    font-weight: 800;
    font-size: 16px;
    margin: 0.2rem 0rem;
  }
form i{
    float: right;
    margin-left: -40px;
    margin-top:-40px;
    margin-right: -5px;
    transform: scale(1.3);
    position: relative;
    color: black;
    cursor: pointer;
    z-index: 2;
  }

  #error-msg {
    color: red;
  }
  
/* animation */
.scene {
    width: 530px;
    height: 500px;
    background: url('../img/background.jpg') center no-repeat;
    background-size: cover;
    border: 5px solid #191919;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.scene img {
    position: absolute;
}

.stars {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: stars-rotate 100s linear forwards infinite;
}

.astronaut {
    top: 80px;
    right: -60px;
    width: 40px;
    animation: astronaut-move 20s forwards infinite;
}

.ship {
    top: 60px;
    left: 120px;
    width: 50px;
    transform: scale(0);
    animation: ship-move 15s 3s forwards infinite;
}

.comet {
    top: 150px;
    left: -250px;
    width: 150px;
    animation: comet-move 20s 5s forwards infinite;
}

.moon {
    bottom: -50px;
    right: -50px;
    width: 150px;
}

@keyframes astronaut-move {
    to {
        transform:
            translate(-300px, -150px) rotate(-360deg);
    }
}

@keyframes ship-move {
    25% {
        transform: scale(.5) translate(-170px, -25px);
    }

    50%,
    100% {
        transform: scale(4) translate(250px, 300px);
    }
}

@keyframes stars-rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes comet-move {
    to {
        transform:
            translate(800px, -150px);
        filter: hue-rotate(360deg);
    }
}

.astronaut-back{
  position: fixed;
  transform: scale(2);
  bottom: 1vh;
  overflow: hidden;
  left: 5em;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 1040px) {
.astronaut-back{display: none;}

}
@media screen and (max-width: 900px) {
 aside{display: none;}
  
  }