/* IMPORTING FONT POPPINS FROM GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-small-down: 12px;
  --fs-small: 16px;
  --fs-small-up: 20px;
  --fs-medium: 24px;
  --fs-large-down: 28px;
  --fs-large: 32px;
  --fs-large-up: 36px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
  height: 100%;
  font-size: smaller;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

button:hover {
  cursor: pointer;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.9em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Utilities */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-end {
  justify-content: flex-end;
}
.justify-spa {
  justify-content: space-around;
}
.justify-spb {
  justify-content: space-between;
}
.justify-cen{
  justify-content: center;
}
.justify-ite{
  justify-items: center;
}
.align-cen {
  align-items: center;
}
.align-sel{
  align-self: center;
}
.align-con{
  align-content: center;
}

.hidden {
  display: none;
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: 10em;
  background-color: whitesmoke;
  transition: 0.3s ease;
  font-weight: var(--fw-medium);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.container {
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

/* Header Style */
.primary-header {
  position:fixed;
  width: 100vw;
  height: 10%;
  background-color: hsla(252, 30%, 100%,100%);
  z-index: 100;
}


.navbar {
  grid-template-columns: auto 40% 30%;
  height: 100%;
}

.logo {
  color:black;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
}

.search-bar {
  width: 20vw;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  background: hsl(252, 30%, 95%);
  margin: auto;
}
.search {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  appearance: none;
  margin-left: 5px;
  color: black;
}
.search:focus {
  outline: none;
}

.submit-search {
  padding: 0;
  border: none;
  background-color: inherit;
}
.submit-search i{
  color: rgb(60, 60, 60);
}
.sign-button {
  width: 100%;
}

.signup {
  width: fit-content;
  padding: 0.3rem 1rem;
  color: black;
  margin: 0.2rem;
  border: 0.1em solid hsl(252, 15%, 65%);
  text-align: center;
  max-height: 100%;
}
.signin {
  width: fit-content;
  padding: 0.3rem 1rem;
  color: black;
  margin: 0.2rem;
  border: 0.1em solid hsl(252, 15%, 65%);
  text-align: center;
  max-height: 100%;
}

.user-profile-pic {
  height: 3rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.user-profile-pic:hover {
  cursor: pointer;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation-name: in;
  animation-duration: 0.5s; */
  background-color: black;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.conts{
  width: 100%;
  height: 100%;

}

.form-container{
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1em 2em;
  margin-top: 7em;
}

/* Left Side */

#myFile::-webkit-file-upload-button {
  visibility: hidden;
}

#myFile {
  /* background-color: red; */
  cursor: pointer;
  height: fit-content;
  color: grey;
  padding: 1em 0em;
}

/* Right Side */
.comment-add {
  border: 0.1em solid hsl(252, 15%, 65%);
  width: 90%;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  background: hsl(0, 0%, 100%);
  margin: auto;
}
.comment-text-box {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  appearance: none;
  color: black;
  resize: none;
}
.comment-text-box:focus {
  outline: none;
}
.submit-comment {
  padding: 0;
  border: none;
  background-color: inherit;
  color: rgb(0, 162, 255);
}
.submit-comment:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.text-title{
  font-size:medium;
  color: rgb(54, 54, 54);
  transform: translateY(1rem);
  background-color: white;
  /* border: 0.1em solid hsl(252, 15%, 65%); */
  border-radius: 1em;
  padding: 0.2rem 0.5rem;
}
.text-title-big{
  font-size:xx-large;
  font-weight:var(--fw-bold);
  color: rgb(0, 0, 0);
}
.right{
  gap:0.5em;
}

.buttons-form{
padding: 1em;
}

.buttons-below{
  padding: 0.7em 2em;
  margin: 0 3em;
  border-radius: 10em;
  cursor: pointer;
  
}
a {
  text-decoration: none;
}

.buttons-below{
  transition: 0.3s ease;
}
.buttons-below:hover{
  color: white;
  transition: 0.3s ease;
}
.upload-button{
  color:rgb(46, 73, 224);
  border: 0.1em solid rgb(46, 73, 224);
  transition: 0.3s ease;
}
.upload-button:hover{
  background-color: rgb(46, 73, 224);
  transition: 0.3s ease;
}
.cancel-button{
  color: black;
  border: 0.1em solid black;
}
.cancel-button:hover{
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease;
}