<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon"> 
    <title>DeepSpace - Setting</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/setting.css">
    <script src="https://kit.fontawesome.com/9b64058bd2.js" crossorigin="anonymous"></script>
</head>

<body>
  
    <div class="container">
      <div class="leftside">
        <ul class="point">
          <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
            <li>
                <a href="/edit-profile" class="edt-prof">Edit Profile</a>
            </li>
            <li>
                <a href="/change-pass" class="chg-pass">Change Password</a>
            </li>
            <li>
                <a href="/manage-account" class="mng-acc">Manage Account</a>
            </li>
            <li>
                <a href="/policy" class="privacy">Privacy </a>
            </li>
            <li>
                <a href="/help" class="help">Help</a>
            </li>
        </ul>
      </div>

        <div class="rightbox">
            <article>
                <div class="privacysettings">
                    <div class="manage-account">Manage Account</div>
                    <div class="manage-item">
                    <div class="acc-cntrl">Account Control</div>
                    <div class="acc-cntrl-option">Delete Account</div>
                        <div class="delete-btn">Delete</div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</body>
<script>;if ("serviceWorker" in navigator) {window.addEventListener("load", function() {navigator.serviceWorker.register("/sw.js").catch(function() {console.log("Service worker registration failed");});});}</script>
</html>