:root {
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-small-down: 12px;
  --fs-small: 16px;
  --fs-small-up: 20px;
  --fs-medium: 24px;
  --fs-large-down: 28px;
  --fs-large: 32px;
  --fs-large-up: 36px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  color: whitesmoke;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}


/* Utilities */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-end {
  justify-content: flex-end;
}
.justify-spb {
  justify-content: space-between;
}
.justify-spa {
  justify-content: space-around;
}
.justify-cen{
  justify-content: center;
}
.align-cen {
  align-items: center;
}
.hidden {
  display: none;
}
.btn {
  border: none;
  background-color: whitesmoke;
  transition: 0.3s ease;
  font-weight: var(--fw-medium);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.btn:active{
  filter: brightness(100%);
}
.container {
  width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
}
.no-bg {
  background: none;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
} 

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  z-index: 0;
}

/* Header Style */
.primary-header {
  position:fixed;
  width: 100%;
  height: 10%;
  background-color: rgba(255 255 255 / 0.3);
  z-index: 100;
  transition: 0.5s ease;
  top: -10%;
}

.ghost-header {
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.ghost-header:hover + .primary-header {
  top: 0;
}
.primary-header:hover {
  top: 0;
}

.navbar {
  grid-template-columns: 30% 40% 30%;
  height: 100%;
}

.logo {
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
}

.search-bar {
  width: 20vw;
  padding: 0 1vw;
  background-color: white;
  border-radius: 15px;
  margin: auto;
}
.search {
  width: 85%;
  height: 100%;
  background-color: inherit;
  border: none;
  appearance: none;
  margin-left: 5px;
}
.search:focus {
  outline: none;
}
.submit-search {
  padding: 0;
  border: none;
  color: gray;
  background-color: inherit;
}
.sign-button {
  width: 100%;
}
.signup {
  width: 6rem;
  border-radius: 15px;
  padding: 0.1rem 1rem;
  color: black;
  margin: 0.2rem;
  border: 2px solid whitesmoke;
  text-align: center;
}
.signin {
  width: 6rem;
  border-radius: 15px;
  padding: 0.1rem 1rem;
  margin: 0.2rem;
  background-color: transparent;
  border: 2px solid whitesmoke;
  text-align: center;
}

/* Main Style */
.main {
  position: absolute;
  z-index: 10;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.slide {
  grid-template-columns: 30% 40% 30%;
  height: 100vh;
  scroll-snap-align: start;
}

/* Recommended Section */

.recommended {
  grid-template-rows: auto auto;
  padding: 5rem 0;
  height: 100vh;
}

.recommended-container {
  justify-content: flex-end;
}

.top-accounts {
  justify-content: flex-start;
}

.recommended-text {
  font-size: var(--fs-small-up);
  font-weight: var(--fw-semi-bold);
}

.recommended-user {
  gap: 1rem;
}

.user {
  height: 3rem;
  display: grid;
  grid-template-columns: auto 70% auto;
}

.user-profile-pic {
  height: 3rem;
  border-radius: 50%;
}

.user-name,
.user-tag {
  height: 1rem;
  word-wrap: break-word;
}

.user-follow a{
  color: whitesmoke;
  border: none;
  background-color: transparent;
}
.user-follow a:hover{
  cursor: pointer;
}

/* Content Section */

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.content-video {
  height: 100vh;
}



/* Caption & Comment Section */

.caption-comment {
  padding: 5rem 0;
  max-height: 100vh;
  gap: 2rem;
  grid-template-rows: auto;
}

.show-comments {
  grid-template-rows: auto auto;
}

.caption-container {
  height: 100%;
}

.comment-container {
  max-height: 100%;
  padding: 1rem;
  gap: 2rem;
  overflow-y: scroll
}
.comment {
  background-color: rgba(255 255 255 / 0.5);
  border-radius: 15px;
  padding: 1rem;
}
.comment-user {
  height: 3rem;
  display: grid;
  grid-template-columns: auto 85%;
}

.interactive-bubble {
  --bubble-size: 3rem;
  grid-template-columns: auto;
  gap: 1rem;
}

.small {
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.interactive-parts {
  height: var(--bubble-size);
}

.bubble {
  width: var(--bubble-size);
  height: var(--bubble-size);
  background-color: whitesmoke;
  border-radius: 50%;
  color: black;
  border: none;
  transition: 0.3s ease;
}

.bubble > i {
  color: inherit;
}

.user-caption {
  justify-content: flex-start;
  gap: 1rem;
}

.music-bubble {
  justify-content: flex-end;
  gap: 1rem;
}
