:root {
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-small-down: 12px;
  --fs-small: 16px;
  --fs-small-up: 20px;
  --fs-medium: 24px;
  --fs-large-down: 28px;
  --fs-large: 32px;
  --fs-large-up: 36px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  color: black;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}


/* Utilities */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-sta {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-spb {
  justify-content: space-between;
}
.justify-spa {
  justify-content: space-around;
}
.justify-cen{
  justify-content: center;
}
.align-cen {
  align-items: center;
}
.hidden {
  display: none;
}
.btn {
  border: none;
  background-color: whitesmoke;
  color: black;
  transition: 0.3s ease;
  font-weight: var(--fw-medium);
}
.btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.btn:active{
  filter: brightness(100%);
}
.container {
  width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
}
.no-bg {
  background: none;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

/* Header Style */

.primary-header {
  grid-template-columns: 30% 40% 30%;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0 0 0 / 0.8);
}

.search-bar {
  width: 20vw;
  padding: 0 1vw;
  background-color: white;
  border-radius: 15px;
  margin: auto;
}
.search {
  width: 85%;
  height: 100%;
  background-color: inherit;
  border: none;
  appearance: none;
  margin-left: 5px;
}
.search:focus {
  outline: none;
}
.submit-search {
  padding: 0;
  border: none;
  color: gray;
  background-color: inherit;
}

/* Main Style */

.main {
  grid-template-columns: 30% 70%;
  height: 100%;
}

.user-profile {
  background-color: transparent;
  padding: 3rem 0;
}

.user-bio > * {
  text-align: center;
}

.user-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.user-settings > * {
  text-align: center;;
}

.setting-item {
  padding: 2rem 0 0 0;
  transition: 0.3s ease;
}

.setting-item:hover {
  backdrop-filter: brightness(50%);
  cursor: pointer;
  font-weight: var(--fw-semi-bold);
}

.setting-item > hr {
  border: none;
  padding: 1px 0;
  background-color: rgba(0 0 0 / 0.4);
  margin: auto;
}
.hr {
  -webkit-transition: all 0.3s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: all 0.3s  ease-in-out;
  width : 0;
}

.grow {
  width: 100%;
}

.user-content {
  background-color: transparent;
  border-left: 3px solid black;
  padding: 3rem 0;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.content-video {
  height: 300px;
  width: 100%;
}